/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: clip;
  background-color: #1A233A;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

div#root {
  height: 100%;
  width: 100%;
}

.video{
  width: calc(100% - 4px);
  top: 0px;
  border: 2px solid;
}

.App {
  height: 100%;
  width: 100%;
}

.TabPanel {
  height: 100%;
  width: 100%;
  background-color: #272e48;
  padding: 0;
}

.MuiTypography-root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.MuiBox-root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {text-align: center;}
h2 {
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
  background: #1abc9c;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

#title-bar {
  -webkit-app-region: drag;
  height: 35px;
  padding: 0px;
  margin: 0px;

  font-family: sans-serif;
}

#title {
  color: #bb4220;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px;
}

#title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

#title-bar-btns button:hover {
  background-color: #1A1A1A;
  outline: none;
}

.center {
  border: 5px solid #FFFF00;
  text-align: center;
}

#logo{
  position:fixed;
  top: 5px;
  left: 5px;
}

#settings{
  position:fixed;
  bottom: 5px;
  left: 5px;
}

#settings-cog{
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

#settings-cog:hover {
  background-color: darkgrey;
  border-width: 0px;
  border-radius: 100px;
}

#settings-cog:active {
  border-style: inset;
}
