<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' data: gap: https://www.youtube.com/ 'unsafe-inline' 'unsafe-eval'"
    />
    <title>Arena Recorder</title>
  </head>
  <body>
    <div id="title-bar">
      <div id="title">Recorder App</div>
      <div id="title-bar-btns">
           <button id="min-btn">-</button>
           <button id="max-btn">+</button>
           <button id="close-btn">x</button>
      </div>
 </div>
    <div id="root"></div>
  </body>
</html>
