
#title-bar {
  -webkit-app-region: drag;
  height: 35px;
  padding: 0px;
  margin: 0px;
  color: #bb4220;
  font-family: sans-serif;
}

#title {
  font-weight: bold;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px;
}

#title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
}

#title-bar-btns button:hover {
  background-color: #1A1A1A;
  outline: none;
}

.center {
  border: 5px solid #FFFF00;
  text-align: center;
}

#logo{
  position:fixed;
  top: 5px;
  left: 5px;
}
